<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/images/icon.png" type="image/png">
    <link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
    <title>Blogs</title>
</head>

<body>
    <div id="header">Loading header...</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <div class="container">
        <div class="par">
            <h2>Blogs</h2>
            <form action='/blogs/new' method='GET' enctype="multipart/form-data">
                <button class="btn btn-dark" id="addNewBlogButton" type="submit" value="addNewBlogButton">Add new
                    blog</button>
            </form>

            <div id="app">Loading...</div>
            <div id="page">1</div>
            <div id="lastPage">...</div>
            <button class="btn btn-dark" id="leftButton1" type="submit" value="<">
                <</button> <button class="btn btn-dark" id="rightButton1" type="submit" value="<">>
            </button>

            <form action='/blogspage={{prevPage}}' method='GET' enctype="multipart/form-data">
                <button id="leftButton" type="submit" value="leftButton">
                    <</button> </form> <form action='/blogspage={{nextPage}}' method='GET'
                        enctype="multipart/form-data">
                        <button id="rightButton" type="submit" value="rightButton">></button>
            </form>
            <p>Page: {{page}}/{{pageAmount}}</p>
            <form action='/blogspage={{page}}' method='GET' enctype="multipart/form-data">
                <input type='text' name='search'>
                <button type="submit" value="searchButton" id="searchButton">
                    <img src="/images/searchIcon.png" width="14" height="15" alt="submit" />
                </button>
            </form>
        </div>
    </div>

    <script src="/javascripts/script1.js"></script>
    <script>
        var curPage = document.getElementById("page");

        fetch("/api/v1/blogs/amount")
            .then(len => {
                console.log("LEN:", len.length);
                const appEl = document.getElementById('lastPage');
                appEl.innerText = len.length;
            })

        var lastPage = document.getElementById("lastPage");
        function updPage(newPage) {
            if (newPage > 0) {
                curPage.innerText = newPage;
                console.log("New page:", newPage);
                Promise.all([
                    fetch("/templates/blogs.mst").then(x => x.text()),
                    fetch("/api/v1/blogs?page=" + curPage.innerHTML).then(x => x.json()),
                ])
                    .then(([templateStr, itemsData]) => {
                        console.log("IDATA:", itemsData.length);
                        const dataObject = { blogs: itemsData }
                        const renderedHtmlStr = Mustache.render(templateStr, dataObject);
                        return renderedHtmlStr;
                    })
                    .then(htmlStr => {
                        const appEl = document.getElementById('app');
                        appEl.innerHTML = htmlStr;
                    })
                    .catch(err => console.log(err))
            }
            else {

            }
        }
        var lb = document.getElementById("leftButton1");
        lb.addEventListener("click", () => updPage(new Number(curPage.innerHTML) - 1));
        var rb = document.getElementById("rightButton1");
        rb.addEventListener("click", () => updPage(new Number(curPage.innerHTML) + 1));

    </script>
</body>

</html> -->